<!DOCTYPE html>
<html lang="en">
<head>
	<title>联系方式及意见反馈</title>
	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="../assets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/style.css">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>
<style type="text/css">
	body{ margin: 0; padding:0; }
</style>
<footer style="padding-top:50px;">
	<!--导航-->
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#example-navbar-collapse">
					<span class="sr-only">切换导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">微信公众号管家</a>
			</div>
			<div class="collapse navbar-collapse" id="example-navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">首页</a></li>
					<li><a href="#">关于</a></li>
					<li><a href="#">登录</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<h2>联系方式</h2>
		<address>
			<strong>深圳市四光年信息技术有限公司.</strong><br>深圳市南山区深南大道100号<br>
			<abbr title="Phone">联系电话：</abbr>023-123456
		</address>
		<h2>建议</h2>
		<form action="" class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label col-md-2">姓名：</label>
				<div class=" col-md-4">
					<input class="form-control" type="text" id="truename"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">称呼：</label>
				<div class=" col-md-4">
					<div class="radio">
						<label><input type="radio" name="sex" checked/>先生</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="sex">女士</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="job" class="control-label col-md-2">你的职位：</label>
				<div class="col-md-4">
					<select class="form-control" name="" id="job">
						<option value="开发者">开发者</option>
						<option value="运营">运营</option>
						<option value="管理人员">管理人员</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">你最喜欢“公众号管家”的哪些内容</label>
				<div class="col-md-4">
					<div class="checkbox">
						<label><input type="checkbox" checked/>文章高级排版</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox"/>多公众号切换</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox"/>素材集中管理</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox"/>其他</label>
					</div>
				</div>

			</div>
			<div class="form-group">
				<label class="control-label col-md-2">更多建议</label>
				<div class="col-md-4">
					<textarea class="form-control" rows="3"></textarea>
				</div>
				<div class="col-md-6"><p>请不要超过500字</p></div>
			</div>

		</form>
	</div>
	<!--底部-->
	<div class="container">
		<footer>
			版权所有 2017
			<a href="">文哥出品</a>
		</footer>
	</div>
	</body>
</html>